body {
  width: 100%;
  padding-top: 200px;
  background-color: rgb(18, 18, 124);
  
}
.content_box {

  background-color:white;
  width: 60%;
  margin: auto;
  padding: 30px 30px;
  justify-content: center;
  border-radius: 20px;
  
}
h1 {
  font-size: 30px;
}